.App {
  text-align: center;
}

.mainArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.codeArea {
    flex-basis: 300px;
    height: max-content;
    min-height: 400px;
    min-width: 400px;
    font-size: small;
    textarea {
        overflow: scroll;
        white-space: pre;
    }
    .hightlight {
        background-color: yellow;
    }
}

.CellRow {
    display: flex;
    align-items: center;
}

.Cell {
    box-sizing: border-box;
    min-height: 40px;
    min-width: 40px;

    font-size: small;

    flex-grow: 1;

    border: thin solid black;
    background-color: lightgray;
    display: inline-block;

    .popUp {
        position: absolute;
        background-color: white;
    }
}

.WallNorth {
    border-top: 2px solid black;
}

.WallEast {
    border-right: 2px solid black;
}

.WallSouth {
    border-bottom: 2px solid black;
}

.WallWest {
    border-left: 2px solid black;
}

.WorldStringPopup {
    z-index: 100;
    position: fixed;
    height: 500px;
    width: 500px;
    opacity: 1;
    top: 40%;
    left: 40%;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.2);
}