.App {
  text-align: center;
}

.mainArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.codeArea {
    flex-basis: 300px;
    height: max-content;
    min-height: 400px;
    min-width: 400px;
    font-size: small;
    textarea {
        overflow: scroll;
        white-space: pre;
    }
    .hightlight {
        background-color: yellow;
    }
}

.CellRow {
    display: flex;
    align-items: center;
}

.Cell {
    min-height: 35px;
    min-width: 35px;

    flex-grow: 1;

    border: thin solid black;
    background-color: lightgray;
    display: inline-block;
}